<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-buttons slot="end">
            <ion-button (click)="close()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Ubah Menu Minuman</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-card style="border-radius: 10px;">
        <ion-list style="padding: 10px;">
            <ion-item>
                <ion-label position="floating">Nama Minuman</ion-label>
                <ion-input name="nama" [(ngModel)]="dataDetail.nama" value="{{dataDetail.nama}}"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Harga</ion-label>
                <ion-input [(ngModel)]="dataDetail.harga" type="number" value="{{dataDetail.harga}}"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Stok</ion-label>
                <ion-input [(ngModel)]="dataDetail.stok" type="text" value="{{dataDetail.stok}}"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Harga Kirim</ion-label>
                <ion-input [(ngModel)]="dataDetail.harga_ongkir" type="text" value="{{dataDetail.ongkir}}"></ion-input>
            </ion-item>

        </ion-list>
    </ion-card>
    <ion-row>
        <ion-col style="color: #676767;">
            <div class="icon">
                <p>-----------------------------</p>
            </div>
        </ion-col>
        <ion-col>
            <div class="icon">
                <b style="color: #676767;">Edit Foto</b>
            </div>
        </ion-col>
        <ion-col style="color: #676767;">
            <div class="icon">
                <p>-----------------------------</p>
            </div>
        </ion-col>
    </ion-row>

    <ion-row *ngIf="avatar == null">
        <ion-col>
            <ion-card style="border-radius: 10px; padding-left: 25px; padding-bottom: 0px; padding-right: 25px;">
                <div class="icon">
                    <img src="/assets/kamera.png" style="height: 50px; width: 50px;" (click)="takePicture()" />
                    <p>Kamera</p>
                </div>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card style="border-radius: 10px; padding-left: 25px; padding-bottom: 0px; padding-right: 25px;">
                <div class="icon">
                    <img src="/assets/frame.png" style="height: 48px; width: 48px;" (click)="takeGalery()">
                    <p>Galeri</p>
                </div>
            </ion-card>
        </ion-col>
    </ion-row>

    <ion-row *ngIf="avatar != null">
        <ion-col>
            <ion-card style="border-radius: 10px; height: 250;">
                <div class="icon">
                    <img src="{{url}}" style="height: 150px; width: 150px;" />
                </div>
                <ion-button class="ion-button" (click)="ambilUlangFoto()" fill="clear">
                    <ion-icon name="reload-circle-outline" slot="icon-only"></ion-icon> Ulang
                </ion-button>
            </ion-card>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <ion-button style="margin-top: 30px;" expand="block" shape="round" (click)="close()" color="danger">Batal</ion-button>
        </ion-col>
        <ion-col>
            <ion-button style="margin-top: 30px;" expand="block" shape="round" (click)="updateData()">
                {{loading ? 'Mohon Tunggu..':'Selesai'}}</ion-button>
        </ion-col>
    </ion-row>
</ion-content>