<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Pesanan
    </ion-title>
    <ion-button style=" size: 20%;" class="ion-button" color="danger" slot="end" (click)="keluar()" fill="clear">
      <ion-icon name="close" slot="icon-only" color="light"></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>
<ion-content>

  <ion-grid>
    <ion-row center>
      <ion-col size="5">
        <ion-card style="height: 100px; width: 100px; border-radius: 10px;">
          <ion-card-subtitle style="font-size: small; margin-top: 5px; text-align: center;">-dari-</ion-card-subtitle>
          <ion-card-title style="color: gray; text-align: center; margin-top: 10px;">STORE</ion-card-title>
          <ion-card-subtitle style="text-align: center; color: gray;">Kantin ADI</ion-card-subtitle>
        </ion-card>
      </ion-col>
      <ion-col size="2">
        <img src="/assets/sprint.svg" style="width: 50px; height: 50px; margin-top: 30px;">
      </ion-col>
      <ion-col size="5">
        <ion-card style="height: 100px; width: 100px; border-radius: 10px;">
          <ion-card-subtitle style="font-size: small; margin-top: 5px; text-align: center;">-ke-</ion-card-subtitle>
          <ion-card-title style="color: gray; text-align: center; margin-top: 10px;">USER</ion-card-title>
          <ion-card-subtitle style="text-align: center; color: gray; "> {{orderData.infoOrder.lokasi_antar}}
          </ion-card-subtitle>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-card style=" border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; 
    border-top-right-radius: 30px; border-top-left-radius: 30px;">
    <ion-tab-bar>
      <h5>DATA PEMESAN</h5>
    </ion-tab-bar>
    <ion-card-content style="margin-top: -10px;">
      <ion-item>
        <ion-thumbnail slot="start">
          <img
            src="{{images[pemesan.avatar] == undefined ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y':images[pemesan.avatar]}}">
        </ion-thumbnail>
        <ion-label>
          <h3>{{pemesan.name}}</h3>
          <p>Pemesan</p>
        </ion-label>
        <ion-grid *ngIf="orderData.status != 'selesai'">
          <ion-row center>
            <ion-col size="4">
              <a href="tel:{{pemesan.no_hp }}" fill="clear" target="_blank"><img slot="icon-only"
                  style=" margin-bottom: 10px; " src="assets/call.svg" width="25px" height="25px"></a>
              <a fill="clear" [routerLink]="['/chat']"><img slot="icon-only" style=" margin-bottom: 10px; "
                  src="assets/chat.svg" width="25px" height="25px"></a>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card-content>

    <ion-tab-bar>
      <h5>DATA PESANAN</h5>
    </ion-tab-bar>
    <ion-card-content style="margin-top: -10px;">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item *ngFor="let data of pesananData">
          <ion-thumbnail slot="start">
            <img
              src="{{images[data.url] == undefined ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y':images[data.url]}}">
          </ion-thumbnail>
          <ion-label>
            <b>{{data.nama}}<br>
              <ion-text color="black" style="font-size: 12px;"> {{data.harga}} <br>
              </ion-text>
            </b>
          </ion-label>
          <ion-text>{{data.jumlah}} x</ion-text>
        </ion-item>

        <ion-item>
          <ion-label>Ongkir </ion-label>
          <ion-text slot="end">Rp{{orderData.infoOrder.ongkir | number:'1.0-0'}} </ion-text>
        </ion-item>

        <ion-item>
          <ion-label>Total Harga </ion-label>
          <ion-text slot="end">Rp{{orderData.infoOrder.totalHarga | number:'1.0-0'}} </ion-text>
        </ion-item>
      </ion-list>
      <ion-card>
        <ion-item color="primary">
          <ion-label>Metode Pembayaran</ion-label>
          <ion-text slot="end">
            {{orderData.infoOrder.metode}}
          </ion-text>
        </ion-item>
      </ion-card>
    </ion-card-content>
    <div align="center" style="padding: 10px;">
      <ion-button color="danger" *ngIf="mode == 'terima'" style="color: white;" (click)="tolak()" [disabled]="loading">
        {{loading ? 'Tunggu..':'Tolak Pesanan'}} </ion-button>
      <ion-button color="success" *ngIf="mode == 'terima'" style="color: white;" (click)="terima()"
        [disabled]="loading">
        {{loading ? 'Tunggu..':'Terima Pesanan'}} </ion-button>
    </div>
  </ion-card>

</ion-content>