<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button routerLink="/login"></ion-back-button>
        </ion-buttons>
        <ion-title>Verify Email</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col style="text-align: center;">
                <h2>PesanAja Verify Email</h2>
                <p>
                    Please check your email and click on the link to verfiy your email address.
                </p>
                <ion-button type="submit" [disabled]="loading" (click)="SendVerificationMail()" expand="block">
                    {{loading ? 'WAIT..':'Resend Verification Email'}}
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>