<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-title>Pesanan Masuk</ion-title>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment [(ngModel)]="riwayat">
    <ion-segment-button value="masuk">
      <ion-label>Masuk</ion-label>
    </ion-segment-button>
    <ion-segment-button value="diproses">
      <ion-label>Diproses</ion-label>
    </ion-segment-button>
    <ion-segment-button value="selesai">
      <ion-label>Selesai</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="riwayat">
    <ion-list *ngSwitchCase="'masuk'" ngSelected="selected" no-padding>
      <div *ngIf="data.status == true">
        <ion-card style="border-radius: 15px;" *ngFor="let item of pesananDataMasuk" no-padding (click)="detailPesanan(item)">
          <ion-card-header style="text-align: center; background-color: rgb(155, 207, 219); color: white;">Pesanan Masuk</ion-card-header>
          <ion-item no-padding no-margin>
            <img ionImgViewer src="{{images[item.infoOrder.gambar_produk] == null ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y': images[item.infoOrder.gambar_produk]}}"
            style="width: 80px; height: 80px; border-radius: 5px; margin: 10px; margin-left: 5px;" />
            <ion-label style="margin-bottom: 10px; margin-top: -7px;font-size: 17px;">
            <b>{{item.infoOrder['nama']}}</b><br>
            <ion-note>Rp{{item.infoOrder['totalHarga'] | number:'1.0-0'}}</ion-note><br>
            <ion-note>{{item.infoOrder['lokasi_antar']}} | {{item.waktu.toDate() | date:'HH:MM'}}</ion-note><br>
            <ion-note>{{item.waktu.toDate() | date:'dd MMMM yyyy'}}</ion-note>
            </ion-label>
            <ion-icon name="arrow-down-circle-outline" slot="end"></ion-icon>
          </ion-item>
        </ion-card>
        <div *ngIf="pesananDataMasuk.length == 0">
          <ion-card style="border-radius: 15px;">
          <ion-item style="text-align: center;" no-padding no-margin>
            <ion-label>
            <b>Belum ada pesanan masuk</b>
            </ion-label>
          </ion-item>
          </ion-card>
        </div>
      </div>

      <ion-card *ngIf="data.status == false"
        style="text-align: center;  height: 80px; margin-left: 15px; border-radius: 15px;">
        <ion-grid no-padding>
          <ion-row>
            <ion-col style="margin-top: 30px;">
              <ion-label>
                Aktifkan Status Akun Anda!
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'diproses'" ngSelected="selected">
      <div *ngIf="data.status == true">
        <ion-card style="border-radius: 15px;" *ngFor="let item of pesananDataDiantar" no-padding (click)="diantar(item)">
          <ion-card-header style="text-align: center; background-color: rgb(155, 207, 219); color: white;">Pesanan Diproses</ion-card-header>
          <ion-item no-padding no-margin>
            <img ionImgViewer src="{{images[item.infoOrder.gambar_produk] == null ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y': images[item.infoOrder.gambar_produk]}}"
            style="width: 80px; height: 80px; border-radius: 5px; margin: 10px; margin-left: 5px;" />
            <ion-label style="margin-bottom: 10px; margin-top: -7px;font-size: 17px;">
            <b>{{item.infoOrder['nama']}}</b><br>
            <ion-note>Rp{{item.infoOrder['totalHarga'] | number:'1.0-0'}}</ion-note><br>
            <ion-note>{{item.infoOrder['lokasi_antar']}} | {{item.waktu.toDate() | date:'HH:MM'}}</ion-note><br>
            <ion-note>{{item.waktu.toDate() | date:'dd MMMM yyyy'}}</ion-note>
            </ion-label>
            <ion-icon name="time" slot="end"></ion-icon>
          </ion-item>
        </ion-card>
        <div *ngIf="pesananDataDiantar.length == 0">
          <ion-card style="border-radius: 15px;">
          <ion-item style="text-align: center;" no-padding no-margin>
            <ion-label>
            <b>Belum ada pesanan diproses</b>
            </ion-label>
          </ion-item>
          </ion-card>
        </div>
      </div>

      <ion-card *ngIf="data.status == false"
        style="text-align: center; width: 330px; height: 80px; margin-left: 15px; border-radius: 15px;">
        <ion-grid no-padding>
          <ion-row>
            <ion-col style="margin-top: 30px;">
              <ion-label>
                Aktifkan Status Akun Anda!
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'selesai'" ngSelected="selected">
      <div *ngIf="data.status == true">
        <ion-card style="border-radius: 15px;" *ngFor="let item of pesananDataSelesai" no-padding (click)="diantar(item)">
          <ion-card-header style="text-align: center; background-color: rgb(155, 207, 219); color: white;">Pesanan Selesai</ion-card-header>
          <ion-item no-padding no-margin>
            <img ionImgViewer src="{{images[item.infoOrder.gambar_produk] == null ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y': images[item.infoOrder.gambar_produk]}}"
            style="width: 80px; height: 80px; border-radius: 5px; margin: 10px; margin-left: 5px;" />
            <ion-label style="margin-bottom: 10px; margin-top: -7px;font-size: 17px;">
            <b>{{item.infoOrder['nama']}}</b><br>
            <ion-note>Rp{{item.infoOrder['totalHarga'] | number:'1.0-0'}}</ion-note><br>
            <ion-note>{{item.infoOrder['lokasi_antar']}} | {{item.waktu.toDate() | date:'HH:MM'}}</ion-note><br>
            <ion-note>{{item.waktu.toDate() | date:'dd MMMM yyyy'}}</ion-note>
            </ion-label>
            <ion-icon name="checkmark-circle-outline" style="color: green;" slot="end"></ion-icon>
          </ion-item>
        </ion-card>
        <div *ngIf="pesananDataSelesai.length == 0">
          <ion-card style="border-radius: 15px;">
          <ion-item style="text-align: center;" no-padding no-margin>
            <ion-label>
            <b>Belum ada pesanan diproses</b>
            </ion-label>
          </ion-item>
          </ion-card>
        </div>
      </div>

      <ion-card *ngIf="data.status == false"
        style="text-align: center;  height: 80px; margin-left: 15px; border-radius: 15px;">
        <ion-grid no-padding>
          <ion-row>
            <ion-col style="margin-top: 30px;">
              <ion-label>
                Aktifkan Status Akun Anda!
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-list>
  </div>

</ion-content>