.icon{
    text-align: center;
    margin-top: 10px;
}

.card-body {
    background-color: #ffffff;
    padding: 30px;
    overflow: hidden;

    .user-meta {
        padding-top: 40px;

        .playername {
            font-size: 24px;
            font-weight: 600;
            color: #303940;
        }
    }
}