<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Buat Akun</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content style="background-color: grey;">
    <ion-card style="margin-top: 0%; margin-left: 0%; margin-right: 0%;
	  padding-bottom: 5%; border-bottom-left-radius: 5%; border-bottom-right-radius: 5%;">
        <ion-row align-items-center style="height: 100%;">
            <ion-col>
                <div style="text-align: center;">
                    <!-- <img src="../../assets/logo-pa.png" width="90px" style="margin-top: -50px; margin-bottom: -100px;">
                    <h5><strong style="color: #ff9500; text-align: center; margin-top: -20px;">Buat Akun</strong></h5> -->
                </div>

                <ion-item>
                    <ion-icon name="home-outline" slot="start"></ion-icon>
                    <ion-input maxlength="20" placeholder="Nama Toko" [(ngModel)]="nama"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-icon name="person-outline" slot="start"></ion-icon>
                    <ion-input maxlength="20" placeholder="Nama Pemilik" [(ngModel)]="nama_owner"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-icon name="navigate-outline" slot="start"></ion-icon>
                    <ion-input maxlength="20" placeholder="Alamat" [(ngModel)]="alamat" type="text"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-icon name="mail-outline" slot="start"></ion-icon>
                    <ion-input placeholder="Email" [(ngModel)]="email" type="email"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
                    <ion-input [(ngModel)]="password" placeholder="Kata Sandi" type={{type}}></ion-input>
                    <ion-button *ngIf="!showPass" fill="clear" type="button" slot="end" (click)="showPassword()">
                        <ion-icon name="eye" style="font-size:25px;"></ion-icon>
                    </ion-button>
                    <ion-button *ngIf="showPass" fill="clear" type="button" slot="end" (click)="showPassword()">
                        <ion-icon name="eye-off" style="font-size:25px;"></ion-icon>
                    </ion-button>
                </ion-item>

                <p style="margin-left: 15px; color: firebrick; font-size: 15px;" *ngIf="password?.length < 6">* Password minimal 6 karakter
                </p>

                <ion-item>
                    <ion-icon name="person-outline" slot="start"></ion-icon>
                    <ion-textarea maxlength="250" placeholder="Tentang Toko" [(ngModel)]="bio" type="text"></ion-textarea>
                </ion-item>



                <ion-note style="margin-left: 15px; margin-top: 10px; ">Dengan ini anda menyetujui :</ion-note>
                <p style="margin-left: 15px;margin-top: 2px; color: darkcyan; " (click)="detailSyarat()">Syarat & Ketentuan PesanAja App</p>

                <div class="ion-padding ">
                    <ion-button class="ion-no-margin" expand="block" type="submit" shape="round" color="primary" [disabled]="nama==null || nama_owner==null || alamat==null || email==null || password==null || bio==null || password.length < 6" (click)="register(email,password,nama,nama_owner,alamat,bio)">
                        <ion-icon name="arrow-forward"></ion-icon> {{loading ? 'WAIT..':'BUAT AKUN'}}</ion-button>
                </div>
            </ion-col>
        </ion-row>
    </ion-card>
    <div class="sponsor">
        <p><a [routerLink]="['/login']" style="color: #6d7278;">MASUK</a></p>
    </div>

</ion-content>