<ion-header>
    <ion-toolbar>
        <ion-button fill="clear" color="dark" slot="start" (click)="dismiss()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
        <ion-title>Crop Image</ion-title>
        <ion-button *ngIf="!loading" fill="clear" color="primary" slot="end" (click)="add()">
            <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
        <ion-spinner slot="end" *ngIf="loading"></ion-spinner>
    </ion-toolbar>
</ion-header>
<ion-content>
    <image-cropper [imageBase64]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="rasio" format="png" [resizeToWidth]="400" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>

</ion-content>