<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="dismiss()">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Syarat & Ketentuan</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-content *ngFor="let data of umum">
            <b>Syarat & Ketentuan Umum</b>
            <p style="text-align: justify;">
                {{data.syarat_umum}}
            </p>
            <br>
            <b>Syarat & Ketentuan Penggunaan Aplikasi</b>
            <P style="text-align: justify;">
                {{data.syarat_penggunaan}}
            </P>
        </ion-card-content>
    </ion-card>
</ion-content>