<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-title>Menu Minuman</ion-title>
        <ion-buttons>
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<div class="navbar">
    <ion-header>
        <ion-toolbar>
            <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)" animated no-border mode="ios" placeholder="Cari Menu" style=" color: #6d7278; margin-top: 10px;">
            </ion-searchbar>
            <!-- <ion-button slot="end" fill="clear" (click)="tambah()">
        <img src="../assets/add.svg" style="height: 30px; width: 30px;  margin-right: 5px;" slot="end" />
      </ion-button> -->
        </ion-toolbar>
    </ion-header>
</div>

<ion-content>
    <div *ngIf="data">
        <ion-card style="height: 100px; border-radius: 10px;" *ngFor="let item of produk">
            <ion-list lines="none" style="margin-top: -10px; margin-left: -30px;">
                <ion-item-sliding>
                    <ion-item no-padding>
                        <img ionImgViewer src="{{avatar[item.url] == undefined ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y':avatar[item.url]}}" style="width: 150px; height: 130px; margin-top: -20px; margin-left: -25px;" />
                        <ion-list lines="none">
                            <ion-item>
                                <ion-label style="margin-bottom: -5px;">{{item.nama}}</ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-text color="{{item.status==false ? 'danger':'success'}}" style="margin-top: -30px;">
                                    {{item.status==true ? 'Rp.' + item.harga:'stok habis'}}
                                </ion-text>
                            </ion-item>
                        </ion-list>
                        <p slot="end" style="margin-right: 7px;margin-bottom: -20px; font-size: smaller; color: #6d7278;">
                            {{item.status==true ? 'Stok: ' + item.stok:''}}</p>
                    </ion-item>
                    <ion-item-options>
                        <ion-item-option color="danger">
                            <ion-button (click)="hapus(item.id)" fill="clear">
                                <ion-icon name="trash-outline" color="light" style="height: 30px; width: 30px;"></ion-icon>
                                <ion-label color="light">Hapus</ion-label>
                            </ion-button>
                        </ion-item-option>
                        <ion-item-option color="primary">
                            <ion-button (click)="getData(item)" fill="clear">
                                <ion-icon name="create-outline" color="light" style="height: 30px; width: 30px;"></ion-icon>
                                <ion-label color="light">Ubah</ion-label>
                            </ion-button>
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
        </ion-card>

        <ion-card style="text-align: center; height: 100px; margin-left: 15px; border-radius: 15px;" *ngIf="produk == null || produk == undefined || produk == ''">
            <ion-grid no-padding>
                <ion-row>
                    <ion-col>
                        <ion-label>
                            Belum ada produk ditambahkan silakan tambahkan Produk !!!!
                        </ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
    </div>

    <div *ngIf="!data">
        <ion-card style="height: 100px; border-radius: 10px;" *ngFor="let item of produk">
            <ion-list lines="none" style="margin-top: -10px; margin-left: -30px;">
                <ion-item-sliding>
                    <ion-item no-padding>
                        <ion-thumbnail slot="start" style="margin-left: 40px; height: 60px; width: 60px;">
                            <ion-skeleton-text animated></ion-skeleton-text>
                        </ion-thumbnail>

                        <ion-label>
                            <p>
                                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                            </p>
                            <p>
                                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                            </p>
                            <p>
                                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                            </p>
                        </ion-label>

                        <p slot="end" style="margin-right: 7px;margin-bottom: -20px; font-size: smaller; color: #6d7278;">
                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                        </p>
                    </ion-item>
                    <ion-item-options>
                        <ion-item-option color="danger">
                            <ion-button (click)="hapus(item.id)" fill="clear">
                                <ion-icon name="trash-outline" color="light" style="height: 30px; width: 30px;"></ion-icon>
                                <ion-label color="light">Hapus</ion-label>
                            </ion-button>
                        </ion-item-option>
                        <ion-item-option color="primary">
                            <ion-button (click)="getData(item)" fill="clear">
                                <ion-icon name="create-outline" color="light" style="height: 30px; width: 30px;"></ion-icon>
                                <ion-label color="light">Ubah</ion-label>
                            </ion-button>
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
        </ion-card>

        <ion-card style="text-align: center; height: 100px; margin-left: 15px; border-radius: 15px;" *ngIf="produk == null || produk == undefined || produk == ''">
            <ion-grid no-padding>
                <ion-row>
                    <ion-col>
                        <ion-label>
                            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                        </ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
    </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="tambah()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>



<ion-card style=" height: 50px; border-radius: 10px; " *ngIf="orderIsReady==true" (click)="detailPesanan()">
    <ion-item color="success">
        <p>{{infoOrder['jumlahItem']}} item | {{infoOrder['totalHarga']}}</p>
        <ion-icon name="cart" slot="end"></ion-icon>
    </ion-item>
    <p *ngIf="dataReturned">{{dataReturned}}</p>
</ion-card>