<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Profil
        </ion-title>
        <ion-button style="padding-right: 10px; size: 20%;" class="ion-button" color="danger" slot="end" (click)="keluar()" fill="clear">
            <ion-icon name="power" slot="icon-only" color="light"></ion-icon>
        </ion-button>
        <ion-buttons style="padding-left: 10px; size: 20%;" class="ion-button" color="danger" slot="start" (click)="kembali()" fill="clear">
            <ion-icon name="arrow-back" slot="icon-only" color="light"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed">
    <div *ngIf="data">
        <div class="card">
            <div class="header">
                <img src="{{avatar == null ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y': avatar}}" (click)="ActionSheet()">
            </div>
        </div>
        <div class="card-body">
            <div class="user-meta ion-text-center">
                <ion-item>
                    <ion-label position="floating">Nama Toko</ion-label>
                    <ion-input maxlength="20" [(ngModel)]="userData.nama"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Nama Pemilik</ion-label>
                    <ion-input maxlength="20" [(ngModel)]="userData.nama_owner"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Alamat Toko</ion-label>
                    <ion-input maxlength="20" [(ngModel)]="userData.alamat"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Tentang Toko</ion-label>
                    <ion-textarea maxlength="250" [(ngModel)]="userData.bio"></ion-textarea>
                </ion-item>

                <ion-item *ngIf="userData.verifikasi == true" >
                    <ion-label>Terverifikasi <ion-icon name="checkmark-circle-outline" style="color: green;"></ion-icon>
                    </ion-label>
                </ion-item>
            </div>
        </div>
    </div>

    <div *ngIf="!data">
        <div class="card">
            <div class="header">
                <ion-skeleton-text animated></ion-skeleton-text>
            </div>
        </div>

        <div class="card-body">
            <div class="user-meta ion-text-center">
                <ion-item>
                    <ion-label>
                        <p>
                            <ion-skeleton-text animated style="width: 20%" id="nama"></ion-skeleton-text>
                        </p>
                        <p>
                            <ion-skeleton-text animated style="width: 88%" id="profile-description"></ion-skeleton-text>
                        </p>
                    </ion-label>
                </ion-item>


                <ion-item>
                    <ion-label>
                        <p>
                            <ion-skeleton-text animated style="width: 20%" id="nama"></ion-skeleton-text>
                        </p>
                        <p>
                            <ion-skeleton-text animated style="width: 88%" id="profile-description"></ion-skeleton-text>
                        </p>
                    </ion-label>
                </ion-item>


                <ion-item>
                    <ion-label>
                        <p>
                            <ion-skeleton-text animated style="width: 20%" id="nama"></ion-skeleton-text>
                        </p>
                        <p>
                            <ion-skeleton-text animated style="width: 88%" id="profile-description"></ion-skeleton-text>
                        </p>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <p>
                            <ion-skeleton-text animated style="width: 20%" id="nama"></ion-skeleton-text>
                        </p>
                        <p>
                            <ion-skeleton-text animated style="width: 88%" id="profile-description"></ion-skeleton-text>
                        </p>
                    </ion-label>
                </ion-item>


                <div class="ion-padding">
                    <ion-skeleton-text animated style="width: 60%" id="profile-name"></ion-skeleton-text>
                </div>
            </div>
        </div>
    </div>

</ion-content>
<ion-footer>
    <div class="ion-padding">
        <ion-button expand="block" type="submit" class="ion-no-margin" color="primary" (click)="updateData()">
            {{loading ? 'Tunggu':'SIMPAN'}}</ion-button>
    </div>
</ion-footer>