ion-content {
    // --background: url(../../assets/pesenaja.png) no-repeat top center/cover fixed;
    // position: relative;
    // height: 100%;
    // width: 100%;
    ion-button {
        margin-top: 1em;
        margin-bottom: 1em
    }
}

ion-toolbar {
    --background: transparent;
}

ion-chip {
    --background: #ff9500;
    --color: #fff;
}

.card {
    margin: 0 auto;
    .header {
        height: 160px;
        position: relative;
        .avatar {
            width: 360px;
            height: 360px;
            position: relative;
            margin: 0 auto;
            img {
                display: block;
                height: 165px;
                width: 165px;
                border-radius: 100px;
                position: absolute;
                bottom: calc(-1*(80px + 4px)); // -42px;
                border: 8px solid #ff9500;
                background-color: #000000;
            }
        }
    }
}

.card-body {
    background-color: #ffffff;
    padding: 30px;
    overflow: hidden;
    .user-meta {
        padding-top: 40px;
        padding-bottom: 30px;
        .playername {
            font-size: 24px;
            font-weight: 600;
            color: #303940;
        }
    }
}


/* Custom Skeleton Line Height and Margin */

.custom-skeleton ion-skeleton-text {
    line-height: 13px;
}

.custom-skeleton ion-skeleton-text:last-child {
    margin-bottom: 5px;
}