<div class="header">
    <br>
    <ion-title style="text-align: center; color: white;">PesanAja App</ion-title>
</div>

<ion-content style="position: fixed;">
    <ion-row style="margin-bottom: 0pt;">
        <ion-col style="text-align: center;">
            <img src="assets/Untitled-1.png" style="height: 100pt; width: 100pt; margin-top: 50pt; margin-bottom: 5pt;">
        </ion-col>
    </ion-row>


    <ion-row align-items-center style="height: 60%; margin-top: 30px;" no-padding>
        <ion-col>
            <ion-card padding style="border-radius: 10px;" no-padding color="light">
                <div id="wow">
                    <ion-item style="margin-bottom: 5px; ">
                        <ion-label position="floating">Email</ion-label>
                        <ion-input [(ngModel)]="data.email" (keydown.enter)="enterLogin($event)"></ion-input>
                    </ion-item>
                </div>
                <ion-item>
                    <ion-label position="floating">Kata Sandi</ion-label>
                    <ion-input #toggleInput [(ngModel)]="data.password" type="{{type}}" (keydown.enter)="enterLogin($event)"></ion-input>

                    <ion-button *ngIf="!showPass" fill="clear" type="button" slot="end" style="margin-top: 25px;" (click)="showPassword()">
                        <ion-icon name="eye" style="font-size:25px;"></ion-icon>
                    </ion-button>
                    <ion-button *ngIf="showPass" fill="clear" type="button" slot="end" style="margin-top: 25px;" (click)="showPassword()">
                        <ion-icon name="eye-off" style="font-size:25px;"></ion-icon>
                    </ion-button>
                </ion-item>

                <div class="ion-padding">
                    <ion-button expand="block" shape="round" type="submit" class="ion-no-margin" color="primary" (click)="login()" style="border-radius: 10px;">
                        {{loading ? 'Mohon Tunggu..':'MASUK'}}</ion-button>
                </div>
            </ion-card>
            <ion-button fill="clear" routerLink="/registrasi" style="margin-right: 50px; margin-left: 35px;">Buat Akun
            </ion-button>

            <ion-button fill="clear" routerLink="/lupa-sandi">Lupa sandi?</ion-button>

        </ion-col>
    </ion-row>

</ion-content>