// .sponsor {
//     bottom: 10%;
//     text-align: center;
//     font-size: 12px;
//     color: rgb(122, 122, 122)
// }
#profile-bg {
    // position: fixed;
    // left: 0;
    //top: 44px;
    text-align: center;
    width: 50%;
    height: 100pt;
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: 20% 20%;
    // border-bottom-left-radius: 50px;
    // border-bottom-right-radius: 50px;
    // border-top-left-radius: 50px;
    // border-top-right-radius: 50px;
    margin-top: 10pt;
    margin-right: 100pt;
    margin-left: 100pt;
}

#content {
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #fff;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.4);
    padding-top: 10px;
    border-radius: 15px;
}

#wow {
    background-color: grey;
}

div.header {
    height: 50px;
    background-color: #ff9500;
    margin-bottom: 1%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}