<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{judul}}</ion-title>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-tab-bar>
      <h5>DATA PEMESAN</h5>
    </ion-tab-bar>
    <ion-card-content style="margin-top: -10px;">
      <ion-item>
        <ion-thumbnail slot="start">
          <img
            src="{{images[dataPemesan.avatar] == undefined ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y':images[dataPemesan.avatar]}}">
        </ion-thumbnail>
        <ion-label>
          <h3>{{dataPemesan.name}}</h3>
          <p>Pemesan</p>
        </ion-label>
      </ion-item>
    </ion-card-content>

    <ion-tab-bar>
      <h5>DATA PESANAN</h5>
    </ion-tab-bar>
    <ion-card-content style="margin-top: -10px;">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item *ngFor="let item of dataOr">
          <ion-thumbnail slot="start">
            <img
              src="{{images[item.url] == undefined ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y':images[item.url]}}">
          </ion-thumbnail>
          <ion-label>
            <b>{{item.nama}}<br>
              <ion-text color="black" style="font-size: 12px;"> Rp{{item.harga | number:'1.0-0'}} <br>
              </ion-text>
            </b>
          </ion-label>
          <ion-text>{{infoOrder.jumlahItem}} x</ion-text>
        </ion-item>

        <ion-item *ngIf="infoOrder.ongkir === 0">
          <ion-label position="fixed">Ongkir</ion-label>
          <ion-text slot="end">
            Rp. {{infoOrder.ongkir | number:'1.0-0'}}
          </ion-text>
        </ion-item>

        <ion-item *ngIf="infoOrder.ongkir !== 0">
          <ion-label position="fixed">Ongkir</ion-label>
          <ion-text slot="end">
            Rp{{infoOrder.ongkir}}
          </ion-text>
        </ion-item>

        <ion-item>
          <ion-label position="fixed">Total Harga</ion-label>
          <ion-text slot="end">
            Rp{{infoOrder.totalHarga | number:'1.0-0'}}
          </ion-text>
        </ion-item>

        <ion-item>
          <ion-label position="fixed">Status</ion-label>
          <ion-text slot="end">
            {{status}}
          </ion-text>
        </ion-item>

      </ion-list>

      <ion-card>
        <ion-item color="primary">
          <ion-label>Metode Pembayaran</ion-label>
          <ion-text slot="end">
            {{infoOrder.metode == undefined ? 'kosong':infoOrder.metode}}
          </ion-text>
        </ion-item>
      </ion-card>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="runner=='0'" style="border-radius: 10px; text-align: center;">
    <ion-col size="3">
      <ion-spinner name="lines"></ion-spinner>
    </ion-col>
    <ion-col size="6">
      <ion-card-title>Sedang Mencari Runner</ion-card-title>
    </ion-col>
  </ion-card>
  <!-- jika runner berhasil di temukan -->
  <ion-card *ngIf="runner!='0'" style="height: 120px; border-radius: 10px;">
    <ion-grid>
      <ion-row center>
        <ion-col size="3">
          <ion-avatar>
            <img
              src="{{images[runnerData.avatar] == null ? 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y': images[runnerData.avatar]}}"
              width="20px" height="20px">
          </ion-avatar>

        </ion-col>
        <ion-col size="5">
          <ion-card-title style="font-size: medium;">{{runnerData.name }}</ion-card-title>
          <ion-card-subtitle>No.Order {{doc}}</ion-card-subtitle>
          <br>
        </ion-col>
        <ion-col size="3">
          <a href="tel:{{runnerData.no_hp }}" fill="clear" target="_blank"><img slot="icon-only"
              style=" margin-bottom: 10px; " src="assets/call.svg" width="25px" height="25px"></a>
          <!-- <ion-button fill="clear" [routerLink]="['/chat']"><img slot="icon-only" style=" margin-bottom: 10px; "
              src="assets/chat.svg" width="25px" height="25px"></ion-button> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>