.icon {
    text-align: center;
    margin-top: 15px;
}

.card-body {
    background-color: #ffffff;
    padding: 30px;
    overflow: hidden;
    .user-meta {
        padding-top: 40px;
        .playername {
            font-size: 24px;
            font-weight: 600;
            color: #303940;
        }
    }
}

#card {
    margin-top: 20px;
}

#content {
    position: relative;
    margin-top: -40px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 90px;
    background-color: #fff;
    padding-top: 110px;
    border-radius: 15px;
    // border-top-right-radius: 15px;
    // border-top-left-radius: 15px;
}

ion-fab-button[data-desc] {
    position: relative;
}

ion-fab-button[data-desc]:after {
    position: absolute;
    content: attr(data-desc);
    z-index: 1;
    right: 50px;
    bottom: 5px;
    background-color: var(--ion-color-warning);
    padding: 9px;
    border-radius: 15px;
    color: white;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 2), 0 6px rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}