<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-buttons slot="end">
            <ion-button (click)="close()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Tambah Menu Makanan</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-card style="border-radius: 15px;">
        <ion-list>
            <ion-item>
                <ion-label position="floating">Nama Makanan</ion-label>
                <ion-input [(ngModel)]="data.nama"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Stok</ion-label>
                <ion-input [(ngModel)]="data.stok" type="number"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Harga</ion-label>
                <ion-input [(ngModel)]="data.harga" type="number"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Harga Kirim</ion-label>
                <ion-input [(ngModel)]="data.harga_ongkir" type="number"></ion-input>
            </ion-item>
        </ion-list>
    </ion-card>
    <ion-row>
        <ion-col style="color: #676767;">
            <div class="icon">
                <p>-----------------------------</p>
            </div>
        </ion-col>
        <ion-col style="color: #676767;">
            <div class="icon">
                <b>Tambah Foto</b>
            </div>
        </ion-col>
        <ion-col style="color: #676767;">
            <div class="icon">
                <p>-----------------------------</p>
            </div>
        </ion-col>
    </ion-row>

    <ion-row *ngIf="avatar == null">
        <ion-col>
            <ion-card style="border-radius: 10px;">
                <div class="icon">
                    <img src="/assets/kamera.png" style="height: 50px; width: 50px;" (click)="takePicture()" />
                    <p>Kamera</p>
                </div>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card style="border-radius: 10px;">
                <div class="icon">
                    <img src="/assets/frame.png" style="height: 48px; width: 48px;" (click)="takeGalery()">
                    <p>Galeri</p>
                </div>
            </ion-card>
        </ion-col>
    </ion-row>

    <ion-row *ngIf="avatar != null">
        <ion-col>
            <ion-card style="border-radius: 10px; height: 250;">
                <div class="icon">
                    <img src="{{url}}" style="height: 150px; width: 150px;" />
                </div>
                <ion-button class="ion-button" (click)="ambilUlangFoto()" fill="clear">
                    <ion-icon name="reload-circle-outline" slot="icon-only"></ion-icon> Ulang
                </ion-button>
            </ion-card>
        </ion-col>
    </ion-row>

    <p></p>
</ion-content>
<ion-footer>
    <ion-button [disabled]="loading || data.nama == null || data.stok == null || data.harga == null || data.harga_ongkir == null || avatar == null" style="margin-top: 30px;" expand="block" (click)="simpan()">
        {{loading ? 'Mohon Tunggu..':'Tambah'}}</ion-button>
</ion-footer>