<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Ganti Kata Sandi</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item style="margin-bottom: 16px; border: solid; border-width: 1.5px; margin-top: 5%; border-radius: 10px; border-color: rgb(221, 221, 221)">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input placeholder="Email" [(ngModel)]="email" type="email"></ion-input>
    </ion-item>

    <ion-row>
        <ion-col>
            <ion-button style="margin-left: 100px; margin-right: 100px;" class="ion-no-margin" expand="block" type="submit" shape="round" color="primary" (click)="presentAlertConfirm()">Kirim</ion-button>
        </ion-col>
    </ion-row>

    <div class="sponsor">
        <small>
      tolong masukan nama user atau email yang anda gunakan pada saat mendaftar di aplikasi nin
    </small>
    </div>

</ion-content>