<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Laporan Penjualan
    </ion-title>
    <ion-buttons style="padding-left: 10px; size: 20%;" class="ion-button" color="danger" slot="start" (click)="kembali()" fill="clear">
      <ion-icon name="arrow-back" slot="icon-only" color="light"></ion-icon>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
      <ion-label>Tahun Transaksi</ion-label>
      <ion-select placeholder="Pilih Tahun" [(ngModel)]="selectedTahunTransaksi" [selectedText]="selectedTahunTransaksi" (ionChange)="generateCharts()">
        <ion-select-option *ngFor="let n of tahunTransaksi; let idx=index" value="{{n}}">{{n}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-list>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          Data Transaksi
        </ion-label>
        <ion-button fill="clear" slot="end" (click)="downloadDataTransaksi()">
          <ion-icon slot="icon-only" name="download"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <div style="text-align: center; padding: 3px 0 3px 0;">
      <ion-spinner *ngIf="totalTransaksi == null"></ion-spinner>
    </div>   
    <ion-item lines="none" *ngIf="totalTransaksi != null" class="ion-padding">
      <ion-label style="text-align: center;">
        <p>Total Transaksi</p>
        <h2 style="font-weight: bold;">Rp. {{totalTransaksi[selectedTahunTransaksi] | number}}</h2>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-label style="text-align: center;">
        <h2 style="font-weight: bold;">Jumlah Transaksi Bulanan</h2>
      </ion-label>
    </ion-card-header>
    <div class="chart-container">
      <canvas #barChartBulanan></canvas>
    </div>
  </ion-card>
  
</ion-content>
