/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-title 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

ion-button
{
  text-transform: capitalize;
}

.cover{
  position:relative;
  text-align: center;
}

.cover .cover-image {
    height: 200px;
    width: 100%;
}
.cover .cover-logo{
  position: absolute;
  top: 40px;
  width: 100%;
  height: 100px;
  text-align: center;
  img {
      border-radius: 50%;
      border:2px solid #fff;
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
}

.card-background-page {
  ion-row{
        width:100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        border-radius: 10px;
        text-align: center;
        height: 80px;
    p{
      position: absolute;
      font-size: 15px;
      top: 60%;
      left: 0%;
      width: 100%;
    }
   }
      
    ion-icon {
      font-size: 50px;
      position: absolute;
      top: 40%;
      left: 50%;
      height: 50%;
      transform: translate(-50%, -50%);
      display: block;
    }
  }