<ion-content>
    <!-- skeleton data awal -->
    <div *ngIf="data">
        <div class="header">
            <br>
            <ion-row>
                <ion-col>
                    <ion-text style="padding-left: 15px; margin-top: 5px; color: white;">
                        <img src="../assets/logo.png" width="130px" height="130px" alt="30" style="margin-top: -40px; margin-left: -30px; margin-bottom: 5px;"/>
                        <br>
                    </ion-text>
                </ion-col>

                <ion-col style="margin-right: 10px;">
                    <ion-text style="padding-right: absolute; margin-top: 5px; float: right; color: white; font-size: medium;">
                        {{userData.nama}}
                    </ion-text>
                    <br>
                    <ion-label style="padding-right: absolute; margin-left: 15px; margin-top: 5px; float: right; color: white; font-size: small;">
                        {{userData.alamat}}
                    </ion-label>
                </ion-col>
            </ion-row>
        </div>

        <ion-card style="margin-top: -50px; height: 19%; width: 70%; margin-left: auto; margin-right: auto; border-radius: 10px; padding-bottom: 10px;">
            <ion-item style=" font-size: 10px;">
                <ion-label color="{{status==false ? status==true ? '': 'danger': 'success'}}" style=" margin-left: 5px; margin-right: 10px;">{{status == false ? 'Tutup':'Buka'}}
                </ion-label>
                <ion-toggle checked color="primary" style="margin-right: 1px; margin-left: 100px;" [(ngModel)]="status" value="false" (ionChange)="aktivasi($event, status)"></ion-toggle>
            </ion-item>
            <ion-card-subtitle style="text-align: center; margin-top: 5px;margin-bottom: 10px;">Laporan Keuangan
            </ion-card-subtitle>
            <ion-card-title style="text-align: center; font-size: x-large;" color="success">
                Rp.{{userData.pendapatan | number: fractionSize}}</ion-card-title>
        </ion-card>
    </div>
    <!-- skeleton data akhir-->

    <!-- awal skeleton -->
    <div *ngIf="!data">
        <div class="header">
            <br>
            <ion-row>
                <ion-col>
                    <ion-thumbnail>
                        <ion-skeleton-text animated style="margin-left: 25px;"></ion-skeleton-text>
                    </ion-thumbnail>
                    <ion-text>
                        <ion-skeleton-text animated style="width: 40%; margin-left: 15px;"></ion-skeleton-text>
                    </ion-text>
                </ion-col>

                <ion-col>

                    <br>
                    <ion-text>
                        <ion-skeleton-text animated style="width: 40%; margin-right: 15px; margin-top: 10px; float: right; color: white; font-size: medium;">
                        </ion-skeleton-text>
                    </ion-text><br>

                    <ion-text>
                        <ion-skeleton-text animated style="width: 50%; margin-right: 15px; margin-top: 5px; float: right; color: white; font-size: medium;">
                        </ion-skeleton-text>
                    </ion-text>
                </ion-col>
            </ion-row>
        </div>

        <ion-card style="margin-top: -50px; height: 19%; width: 70%; margin-left: auto; margin-right: auto; border-radius: 10px;">
            <ion-item style="font-size: 10px;">
                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </ion-item>
            <ion-text>
                <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
            </ion-text>
            <ion-card-title style="text-align: center; font-size: x-large;" color="success">
                <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
            </ion-card-title>
        </ion-card>
    </div>
    <!-- akhir skeleton -->

    <!-- data skeleton awal-->
    <div *ngIf="data">
        <ion-slides>
            <ion-slide>
                <ion-card style="border-radius: 10px; padding-left: 25px; padding-top: 20px; padding-bottom: 20px; padding-right: 25px;" [routerLink]="['/pesanan-masuk']">
                    <img src="/assets/icon/pesanan.png" style="width: 50px; height: 50px;"/><br>
                    <ion-label style="font-size: smaller;">Pesanan</ion-label>
                    <ion-badge color="success" style="width: 25px; height: 20px; border-radius: 5px; position: relative;">{{pesananDataMasuk.length}}</ion-badge>
                </ion-card>
                <ion-card style="border-radius: 10px; padding-left: 25px; padding-top: 20px; padding-bottom: 20px; padding-right: 25px;" [routerLink]="['/menu-makanan',uid]">
                    <img src="/assets/icon/makanan.png" style="width: 50px; height: 50px;" /><br>
                    <ion-text style="font-size: smaller;">Makanan</ion-text>
                </ion-card>
                <ion-card style="border-radius: 10px; padding-left: 25px; padding-top: 20px; padding-bottom: 20px; padding-right: 25px;" [routerLink]="['/menu-minuman',uid]">
                    <img src="/assets/icon/minuman.png" style="width: 50px; height: 50px;"/><br>
                    <ion-label style="font-size: smaller;">Minuman</ion-label>
                </ion-card>
            </ion-slide>
        </ion-slides>
    </div>
    <!-- data skeleton akhir -->

    <!-- skeleton awal -->
    <div *ngIf="!data">
        <ion-slides>
            <ion-slide>
                <ion-card style="border-radius: 10px; padding-left: 25px; padding-top: 20px; padding-bottom: 20px; padding-right: 25px;" [routerLink]="['/pesanan-masuk']">
                    <ion-avatar style="width: 60px; height: 60px;">
                        <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-avatar><br>
                    <ion-label>
                        <ion-skeleton-text animated style="width: 100% "></ion-skeleton-text>
                    </ion-label>
                </ion-card>
                <ion-card style="border-radius: 10px; padding-left: 25px; padding-top: 20px; padding-bottom: 20px; padding-right: 25px;" [routerLink]="['/menu-makanan', uid]">
                    <ion-avatar style="width: 60px; height: 60px;">
                        <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-avatar><br>
                    <ion-label>
                        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                    </ion-label>
                </ion-card>
                <ion-card style="border-radius: 10px; padding-left: 25px; padding-top: 20px; padding-bottom: 20px; padding-right: 25px;" [routerLink]="['/menu-minuman', uid]">
                    <ion-avatar style="width: 60px; height: 60px;">
                        <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-avatar><br>
                    <ion-label>
                        <ion-skeleton-text animated style="width: 120%"></ion-skeleton-text>
                    </ion-label>
                </ion-card>
            </ion-slide>
        </ion-slides>
    </div>
    <!-- skeleton akhir -->

    <!-- grafik data penjualan -->
    <ion-card>
        <ion-card-header style="text-align: center;">
            Data Penjualan Hari {{day}}
        </ion-card-header>
        <ion-card-content>
            <canvas #doughnutCanvas (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </ion-card-content>
    </ion-card>
    
    <!-- akhir grafik -->

    <div *ngIf="data">
        <ion-tabs>
            <ion-tab-bar>

                <ion-tab-button [routerLink]="['/pengaturan']">
                    <ion-icon name="person-circle-outline"></ion-icon>
                    <ion-label>Profile</ion-label>
                </ion-tab-button>

                <ion-tab-button [routerLink]="['/rekap']">
                    <ion-icon name="document-text-outline"></ion-icon>
                    <ion-label>Rekapitulasi</ion-label>
                </ion-tab-button>

                <ion-tab-button [routerLink]="['/tentang']">
                    <ion-icon name="alert-circle-outline"></ion-icon>
                    <ion-label>Tentang</ion-label>
                </ion-tab-button>

            </ion-tab-bar>
        </ion-tabs>
    </div>

    <div *ngIf="!data">
        <ion-tabs>
            <ion-tab-bar>

                <ion-tab-button [routerLink]="['/pengaturan']">
                    <ion-avatar style="height: 20px; width: 20px;">
                        <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-avatar>
                    <ion-label>
                        <ion-skeleton-text animated style="width: 50px; height: 5px;"></ion-skeleton-text>
                    </ion-label>
                </ion-tab-button>

                <ion-tab-button [routerLink]="['/rekap']">
                    <ion-avatar style="height: 20px; width: 20px;">
                        <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-avatar>
                    <ion-label>
                        <ion-skeleton-text animated style="width: 50px; height: 5px;"></ion-skeleton-text>
                    </ion-label>
                </ion-tab-button>

                <ion-tab-button [routerLink]="['/tentang']">
                    <ion-avatar style="height: 20px; width: 20px;">
                        <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-avatar>
                    <ion-label>
                        <ion-skeleton-text animated style="width: 50px; height: 5px;"></ion-skeleton-text>
                    </ion-label>
                </ion-tab-button>

            </ion-tab-bar>
        </ion-tabs>
    </div>

</ion-content>