div.header {
    height: 140px;
    background-color: #ff9500;
    margin-bottom: 1%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: #6d7278;
}

.bar-header {
    border: 0px;
}

.icon {
    text-align: center;
}

div.card {
    margin-left: auto;
    margin-right: auto;
    display: block !important;
    width: 70%;
    height: 50%;
    margin-top: 100px;
}


/* Custom Skeleton Line Height and Margin */

.custom-skeleton ion-skeleton-text {
    line-height: 13px;
}

.custom-skeleton ion-skeleton-text:last-child {
    margin-bottom: 5px;
}